html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font-family: "Roboto Condensed", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #f0f0f0;
  background: url(../img/theme.jpg) repeat-y;
  background-size: 100% auto; }

.overlay {
  width: 100%;
  height: 100vh; }

html {
  font-size: 100%;
  line-height: 1.5em; }

main {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem; }

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin: 15px 0; }

main {
  padding: 35px; }

form {
  display: -webkit-flex;
  display: flex;
  flex-direction: column; }
  form input:not([type=submit]) {
    flex: 1;
    /* fluid width */
    display: block;
    /* IE fix */
    min-width: 0;
    /* fix for min-width: auto */ }

.field {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  flex: auto;
  margin: 10px;
  align-items: center; }
  .field label {
    margin-right: 15px;
    text-align: right;
    width: 135px; }
  .field input,
  .field textarea {
    padding: 8px;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.02); }
  .field input:focus,
  .field textarea:focus {
    outline: none; }
  .field input[type="submit"] {
    padding: 5px 10px;
    background: #555;
    border: none;
    color: #fff;
    font-size: inherit;
    cursor: pointer; }

/* start - */
header {
  background: black;
  max-width: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  padding: 50px;
  text-align: center; }
  header .logo {
    text-align: center;
    padding: 40px 0; }
    header .logo img {
      max-width: 180px; }
  header h3, header p {
    color: rgba(255, 255, 255, 0.8); }

.cs {
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 90px;
  background: rgba(255, 255, 255, 0.8); }
  .cs h3 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0; }

/*# sourceMappingURL=app.css.map */
